
<ion-view view-title="Agendamento">
    <ion-content class="padding">
        <div class="block-btn-center">
            <a class="button button-block button-calm" ng-click="modal.show()">
                Criar agendamento
            </a>
        </div>

        <div class="list-agendamento list">
			<span ng-repeat="agendamento in agendamentos">
				<a class="item item-thumbnail-left item-car item-agendamento" href="#">
					<img src="img/model-car/gol.jpg">
					<h2>{{agendamento.servico}}</h2>
					<p><b>Data e hora:</b>{{agendamento.data_hora_agendamento}}</p>
					<p><b>Veículo:</b>{{agendamento.modelo}}{{agendamento.placa}}</p>
					<p><b>km:</b>{{agendamento.km_atual}} km</p>
					<p><b>Loja:</b>Loja 1</p>
					<p><b>Consultor:</b>Loja 1</p>
					<p><b>Status:</b>{{agendamento.status_agendamento}}</p>					
					<p class="descricao">{{agendamento.observacoes}}</p>
				</a>
			</span>
        </div>


    </ion-content>
</ion-view>

<script id="templates/modal-addagendamento.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm">
            <h1 class="title">Agendar serviço</h1>
            <button class="button button-clear  button-icon ion-close" ng-click="modal.hide()"></button>
        </ion-header-bar>

        <ion-content class="padding">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                      Selecione um carro
                    </div>
                    <select ng-model="agendamento.veiculo">
						<option value="">{{sel_veiculo}}</option>
						<option ng-repeat="veiculo in veiculos" value="{{veiculo.id_veiculo_app}}">{{veiculo.modelo}} [{{veiculo.placa}}]</option>
					</select>
                </label>

                <label class="item item-input">
                    <span class="input-label">KM atual</span>
                    <input type="text" placeholder="00000" ng-model="agendamento.km_atual">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                      Serviço
                    </div>
                    <select ng-model="agendamento.servico">
						<option value="">{{sel_veiculo}}</option>
						<option ng-repeat="servico in servicos" value="{{servico.id}}">{{servico.servico}}</option>
					</select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                      Loja
                    </div>
					<select name="loja" ng-change="getConsultor(agendamento.loja)" ng-model="agendamento.loja">
						<option value="">{{sel_veiculo}}</option>
						<option ng-repeat="loja in lojas" value="{{loja.empresa}}{{loja.revenda}}">{{loja.nome}}</option>
					</select>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                      Consultor
                    </div>
                    <select name="loja" <!--ng-change="getHorario(agendamento.consultor)"--> ng-model="agendamento.consultor">
						<option value="">{{sel}}</option>
						<option ng-repeat="consultor in consultores"value="{{consultor.VENDEDOR}},{{consultor.EMPRESA}},{{consultor.REVENDA}}">{{consultor.NOME}}</option>
					</select>
                </label>
				
				<label class="item item-input item-select">
                    <div class="input-label">
                      Horário
                    </div>
                    <select ng-model="agendamento.horario">
						<option value="">Selecione um horário</option>
						<option value="">7:30</option>
						<option value="">8:00</option>
						<option value="">8:30</option>
						<option value="">9:00</option>
						<option value="">9:30</option>						
						<option value="">10:00</option>
						<option value="">10:30</option>
						<option value="">11:00</option>
						<option value="">11:30</option>						
					</select>
                </label>

               <div class="block-btn-center">
                    <a class="button button-block button-balanced" ng-click="insAgendamento()">
                       Salvar
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>


