<ion-view title="Cadastre-se">
    <ion-content class="bg-app widget-welcome" scroll="false">
        <form>
		<div class="form-cadastrar">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Digite seu nome" ng-model="cliente.nome">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" id="email" onblur="is_email(document.getElementById('email').value)" placeholder="Digite seu email" ng-model="cliente.email">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Celular</span>
					<input type="tel" placeholder="(99) 99999-9999" ng-model="cliente.celular" name="telefone" id="telefone" size="25" maxlength="15" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('telefone',this,event);">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Digite uma senha" ng-model="cliente.senha">
                </label>
            </div>
			<div class="alert alert-danger centro" style="visibility: hidden" id="alerta">
				<div>
					Email inválido
				</div>
			</div>
            <div class="block-btn-center">
                <a class="button button-block button-balanced" ng-click="insCliente()" ng-disabled="!cliente.nome || !cliente.email || !cliente.senha || !cliente.celular">
                   Cadastrar
                </a>
            </div>
        </div>
		</form>
    </ion-content>
</ion-view>

	

