<ion-view view-title="Veiculos Novos">
    <ion-content class="padding slide-car">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide>
                <div class="box item-slide">
                    <img src="img/slide-car/fox.jpg">
                    <h2 class="name-car">Fox</h2>


                    <div class="row">
                        <div class="col col-50">
                            <a class="button button-block button-stable"  ng-click="showDetails_1 = ! showDetails_1">
                                Detalhes
                            </a>
                        </div>

                        <div class="col col-50">
                            <a class="button button-block button-balanced" href="#/tab/avaliacao">
                                Eu quero
                            </a>
                        </div>
                    </div>

                    <div class="detail" ng-show="showDetails_1">
                        <a href="#" class="close-detail" ng-click="showDetails_1 = ! showDetails_1"><i class="icon ion-close-circled"></i></a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="box item-slide">
                    <img src="img/slide-car/gol.jpg">
                    <h2 class="name-car">gol</h2>


                    <div class="row">
                        <div class="col col-50">
                            <a class="button button-block button-stable"  ng-click="showDetails_2 = ! showDetails_2">
                                Detalhes
                            </a>
                        </div>

                        <div class="col col-50">
                            <a class="button button-block button-balanced" href="#/tab/avaliacao">
                                Eu quero
                            </a>
                        </div>
                    </div>

                    <div class="detail" ng-show="showDetails_2">
                        <a href="#" class="close-detail" ng-click="showDetails_2 = ! showDetails_2"><i class="icon ion-close-circled"></i></a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                    </div>
                </div>
            </ion-slide>

            <ion-slide>
                <div class="box item-slide">
                    <img src="img/slide-car/up.jpg">
                    <h2 class="name-car">UP</h2>


                    <div class="row">
                        <div class="col col-50">
                            <a class="button button-block button-stable"  ng-click="showDetails_3 = ! showDetails_3">
                                Detalhes
                            </a>
                        </div>

                        <div class="col col-50">
                            <a class="button button-block button-balanced" href="#/tab/avaliacao">
                                Eu quero
                            </a>
                        </div>
                    </div>

                    <div class="detail" ng-show="showDetails_3">
                        <a href="#" class="close-detail" ng-click="showDetails_3 = ! showDetails_3"><i class="icon ion-close-circled"></i></a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates facere sunt harum similique hic iure magni nam! Culpa quibusdam qui, est, cumque veniam ex quaerat deleniti aliquam! Consequatur, eveniet, cumque.</p>
                    </div>
                </div>
            </ion-slide>



        </ion-slide-box>
    </ion-content>
</ion-view>
