
<ion-view view-title="Fale Conosco">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Selecione um departamento
                </div>
                <select ng-model="contato.departamento">
                    <option>Selecione</option>
                    <option value="oficina">Oficina</option>
                    <option value="vendas">Vendas</option>
                    <option value="pecas">Peças</option>
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">Assunto</span>
                <input type="text" ng-model="contato.assunto">
            </label>

            <label class="item item-input">
                <textarea placeholder="Mensagem" rows="6" ng-model="contato.mensagem"></textarea>
              </label>


           <div class="block-btn-center">
                <a class="button button-block button-balanced" ng-disabled="!contato.departamento || !contato.assunto || !contato.mensagem" ng-click="insContato()">
                   Enviar
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>



