<ion-view view-title="Funilaria">
	<ion-nav-buttons side="left">
	  <a class="button icon-left button-clear" href="#/tab/principal"><i class="icon ion-ios-arrow-back"></i> Menu</a>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Veículo
                </div>
                <select ng-model="funilaria.veiculo">
						<option value="">Selecione</option>
						<option ng-repeat="veiculo in veiculos" value="{{veiculo.id_veiculo_app}}">{{veiculo.modelo}} [{{veiculo.placa}}]</option>
				</select>
            </label>

            <label class="item item-input">
                <textarea placeholder="Observações" rows="6" ng-model="funilaria.observacoes"></textarea>
              </label>
           <div class="block-btn-center">
                <a class="button button-block button-balanced" ng-disabled="!funilaria.veiculo" ng-click="insFunilaria()">
                   Agendar orçamento
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>



