
<ion-view view-title="Funilaria">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Selecione um carro
                </div>
                <select>
                    <option>Selecione</option>
                    <option>Gol</option>
                    <option>Golf</option>
                    <option>Fox</option>
                    <option>UP</option>
                    <option>Amarok</option>
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">Placa</span>
                <input type="text" placeholder="ABC 0000">
            </label>

            <label class="item item-input">
                <textarea placeholder="Observações" rows="6"></textarea>
              </label>


           <div class="block-btn-center">
                <a class="button button-block button-balanced" ng-click="">
                   Solicitar orçamento
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>



