<ion-view view-title="Lojas">
    <ion-content class="padding">
        <div class="list">
            <div class="item item-thumbnail-left item-car" href="#">
                <img src="img/lojas-pic/alemanha_matriz.jpg">
                <h2>Alemanha Matriz</h2>
                <p>Av. João XXIII, 3480 - CEP 64045-000</p>
                <p>(86) 3218-8620</p>
                <p>
                    <a ng-href="https://www.google.com.br/maps/place/5%C2%B004'54.2%22S+42%C2%B045'59.7%22W/@-5.08171,-42.766585,18z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">
                    Como chegar?
                    </a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
