
<ion-view view-title="Seguro">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                  Selecione um carro
                </div>
                <select ng-model="seguro.veiculo">
						<option value="">{{sel_veiculo}}</option>
						<option ng-repeat="veiculo in veiculos" value="{{veiculo.id_veiculo_app}}">{{veiculo.modelo}} [{{veiculo.placa}}]</option>
				</select>
            </label>

            <label class="item item-input">
                <textarea placeholder="Observações" rows="6" ng-model="seguro.observacoes"></textarea>
              </label>
           <div class="block-btn-center">
                <a class="button button-block button-balanced" ng-click="insSeguro()">
                   Solicitar orçamento
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>



