
<ion-view view-title="Perfil">
	<ion-nav-buttons side="left">
	  <a class="button icon-left button-clear" href="#/tab/principal"><i class="icon ion-ios-arrow-back"></i> Menu</a>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
	<!--<a class="button button-clear" ng-click="loadUsuario()"><i class="icon ion-ios-loop"></i></a>-->
    </ion-nav-buttons>
	<ion-content class="padding">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <p>{{perfil.cliente.nome}}</p>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <p>{{perfil.cliente.email}}</p>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Celular</span>
            <p>{{perfil.cliente.celular}}</p>
          </label>
        </div>
         <div class="block-btn-center">
            <a class="button button-block button-calm" ng-click="modal.show()">
                Editar perfil
            </a>
        </div>
		<div class="block-btn-center">
            <a class="button button-block button-assertive" ng-click="desconectar()">
                Desconectar
            </a>
        </div>

    </ion-content>
</ion-view>

<script id="templates/modal-editperfil.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm">
            <h1 class="title">Editar Perfil</h1>
            <button class="button button-clear  button-icon ion-close" ng-click="modal.hide()"></button>
        </ion-header-bar>

        <ion-content class="padding">
		
            <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Nome</span>
                  
				  <input type="text" ng-model="perfil.cliente.nome" value="{{perfil.cliente.nome}}">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Email</span>
                  <input type="email" ng-model="perfil.cliente.email" value="{{perfil.cliente.email}}">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Celular</span>
                  <input type="tel" ng-model="perfil.cliente.celular" value="{{perfil.cliente.celular}}" name="telefone" id="telefone" size="25" maxlength="15" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('telefone',this,event);">
				  <!--
				  <input type="text" name="telefone" id="telefone" size="25" maxlength="14" onKeyPress="return digitos(event, this);" onKeyUp="Mascara('telefone',this,event);" style="border:solid 1px #111">
                -->
				</label>

               <div class="block-btn-center">
                    <a class="button button-block button-balanced" ng-click="altCliente()">
                       Salvar
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>

