
<ion-view view-title="Perfil">
    <ion-content class="padding">


        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <p>Filipe Raiz</p>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <p>filiperaiz@gmail.com</p>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Telefone</span>
            <p>12121212121</p>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Senha</span>
            <p>*****</p>
          </label>
        </div>

         <div class="block-btn-center">
            <a class="button button-block button-calm" ng-click="modal.show()">
                Editar perfil
            </a>
        </div>


    </ion-content>
</ion-view>

<script id="templates/modal-editperfil.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm">
            <h1 class="title">Editar Perfil</h1>
            <button class="button button-clear  button-icon ion-close" ng-click="modal.hide()"></button>
        </ion-header-bar>

        <ion-content class="padding">
            <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Nome</span>
                  <input type="text" value="Filipe Raiz">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Email</span>
                  <input type="email"  value="filiperaiz@gmail.com">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Telefone</span>
                  <input type="tel" value="12312412412">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Senha</span>
                  <input type="password" value="********">
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Confirmar senha</span>
                  <input type="password" value="********">
                </label>




               <div class="block-btn-center">
                    <a class="button button-block button-balanced" ng-click="createContact(newUser)">
                       Salvar
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>


