<ion-view view-title="Menu">

    <ion-content class="">
        <div class="hero">
            <img src="img/bg-menu.jpg" alt="">
        </div>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/veiculos">
                <i class="icon calm ion-model-s"></i> Veículos
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/agendamento">
                <i class="icon calm ion-calendar"></i> Agendamentos
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/funilaria">
                <i class="icon calm ion-paintbrush"></i> Funilaria
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/avaliacao">
                <i class="icon calm ion-clipboard"></i> Comprar um carro
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/seguro">
                <i class="icon calm ion-ios-locked"></i> Seguro
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/lojas">
                <i class="icon calm ion-ios-home"></i> Lojas
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/contato">
                <i class="icon calm ion-ios-telephone"></i> Fale Conosco
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
