<ion-view view-title="Alertas">
<ion-content>
	<center><h4>Pesquisa de satisfação</h4></center>
	<div class="list" ng-repeat="alerta in alertas">
	<label class="item-input item-stacked-label">{{alerta.id_pergunta}}-{{alerta.pergunta}}
</label>
<label class="item-input">
	<select ng-model="veiculo.servico" class="col col-offset-5">
		<option>Selecione</option>
		<option>1</option>
	    <option>2</option>
	    <option>3</option>
	    <option>4</option>
	    <option>5</option>
	    <option>6</option>
	    <option>7</option>
	    <option>8</option>
	    <option>9</option>
	    <option>10</option>
    </select>  </label>
	
	</div>
	<div class="block-btn-center">
	<a class="button button-block button-balanced" ng-click="">
    Enviar 
    </a>
    </div>
</ion-content>
</ion-view>
