<ion-view view-title="Veículos">
    <ion-content class="padding">
        <div class="block-btn-center">
            <a class="button button-block button-calm" ng-click="modal.show()">
                Adicionar veículo
            </a>
        </div>
        <div class="list" ng-repeat="veiculo in veiculos">
			<span ng-show="{{veiculo.id_veiculo_app}}">
				<a class="item item-thumbnail-left item-car" href="#">
					<img src="{{veiculo.img_veiculo}}">
					<h2>{{veiculo.modelo}}</h2>
					<p><b>Placa:</b>{{veiculo.placa}}</p>
					<p><b>Ano:</b> {{veiculo.ano_fabricacao}}/{{veiculo.ano_modelo}} </p>
				</a>
			</span>
        </div>
    </ion-content>
</ion-view>

<script id="templates/modal-addcar.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-calm">
            <h1 class="title">Adicionar veículo</h1>
            <button class="button button-clear  button-icon ion-close" ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Selecione um carro
                    </div>
                    <select ng-model="veiculo.modelo">
						<option value="">{{sel}}</option>
						<option ng-repeat="modelo in modelos" value="{{modelo.id_modelo_veiculo}}">{{modelo.modelo}}</option>
					</select>
                </label>
                <label class="item item-input">
                    <span class="input-label">Placa</span>
                    <input ng-model="veiculo.placa" type="text" placeholder="XXX-0000">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Ano/Fabricação
                    </div>
                    <select ng-model="veiculo.ano_fabricacao">
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Ano/Modelo
                    </div>
                    <select ng-model="veiculo.ano_modelo">
                         <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                    </select>
                </label>
                <div class="block-btn-center">
                    <a class="button button-block button-balanced" ng-click="insVeiculo()" ng-disabled="!veiculo.modelo || !veiculo.placa || !veiculo.ano_fabricacao || !veiculo.ano_modelo">
                       Salvar
                    </a>
                </div>
				{{retorno}}
            </div>
        </ion-content>
    </ion-modal-view>
</script>
