.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

.bg-app{
    background-color: #11C1F3;
    padding: 0 40px;
}

.bg-logo{
    text-align: center;
    padding: 20px;
}

.forgot{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}
.platform-android .bar .title{
	text-align:center;
	left:50px;
}

.forgot .button{
    font-size: 12px;
    color: #fff !important;
    font-weight: bold;
}


.alert-circle {
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    position: absolute;
    z-index: 10;
    top: 2px;
    right: 10%;
    min-width: 22px;
    height: 22px;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #f34c4c;
}

.item.item-car img {
    border: 2px solid #11c1f3;
    border-radius: 5px;
}

.item.item-car h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #565656;
}

.item.item-car b {
    font-size: 11px;
    margin-right: 5px;
}

.item.item-car p {
    font-size: 12px;
    overflow: visible;
    margin-bottom: 0;
    white-space: normal;
    text-overflow: clip;
}

.block-btn-center {
    padding: 10px;
    text-align: center;
}

.block-btn-center .button {
    margin: 0;
}

.item-agendamento p {
    font-size: 12px;
}

.box-avaliar {
    border: 1px solid #11c1f3;
}

.link-button {
    text-align: center;
}

.link-button label {
    font-size: 13px;
    display: block;
    padding: 10px;
    color: #000;
    background-color: rgba(255, 201, 0, .4);
}

.link-button input {
    display: none;
    visibility: hidden;
}

.more-fields {
    padding: 10px;
    border-top: 1px solid #11c1f3;
}

.more-fields h3 {
    font-size: 15px;
    margin: 10px 0 15px;
}

.new-car-icon {
    color: #0c60ee !important;
}

.slide-car .scroll, .slider {
  height: 100%;
}

.item-slide{
    height: 100%;
}

.item-slide .name-car{
    text-align: center;
}

.item-slide img{
    width: 100%;
}

.item-slide .detail{
    position: absolute;
       top: 18px;
       background-color: rgba(0, 0, 0, 0.7);
       border-radius: 5px;
       min-height: 200px;
       padding: 15px;
       margin: 0 15px;
}

.item-slide .detail p{
    color: #fff;
    font-size: 15px;
}

.item-slide .detail .close-detail{
    position: absolute; 
    top: -15px;
    right: 0;
    font-size: 26px;
    color: #F00;
    z-index: 999;
    background: #FFF;
    border-radius: 85px;
    line-height: 20px;
    height: 26px;
}
.right{
	text-align:-webkit-right;
	text-align:right;
}
.centro{
	text-align:-webkit-center;
	text-align:center;
}
.item-select select{
	padding: 0 27px 0 16px;
}
.direita input::-webkit-input-placeholder {
    direction: rtl;
    text-align: right;
}

.enquete{
	padding:10px 15px 0px 5px;
}
#readonly{
	background-color:#FFF;
}
::-webkit-input-placeholder {
   text-align: center;
}
.alert{padding:10px;margin-bottom:20px;margin-top:20px;border:1px solid transparent;border-radius:4px}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.caixa_alerta{
	margin-top:50%;
	border:0px;
}
i.ion-archive{
font-size: 50px;
color : #A2A2A2;
}
.jornal{
	top:34px;
	text-align:center;
}
.lendo{
	margin-top:50%;
	border:0px;
}
.esq{
	text-align:left;
}
.logo-seguro{
	margin:10px;
}
.slider-pager{
	height:3px;
}