.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

.bg-app{
    background-color: #11C1F3;
    padding: 0 40px;
}

.bg-logo{
    text-align: center;
    padding: 15px 20px 5px 20px;
}

.forgot{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
}

.forgot .button{
    font-size: 12px;
    color: #fff !important;
    font-weight: bold;
}


.alert-circle {
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    position: absolute;
    z-index: 10;
    top: 2px;
    right: 10%;
    min-width: 22px;
    height: 22px;
    padding: 5px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #f34c4c;
}

.item.item-car img {
    border: 2px solid #11c1f3;
    border-radius: 5px;
}

.item.item-car h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #565656;
}

.item.item-car b {
    font-size: 11px;
    margin-right: 5px;
}

.item.item-car p {
    font-size: 12px;
    overflow: visible;
    margin-bottom: 0;
    white-space: normal;
    text-overflow: clip;
}

.block-btn-center {
    padding: 1px 10px 10px 10px;
    text-align: center;
}

.block-btn-center .button {
    margin: 0;
}

.item-agendamento p {
    font-size: 12px;
}

.box-avaliar {
    border: 1px solid #11c1f3;
}

.link-button {
    text-align: center;
}

.link-button label {
    font-size: 13px;
    display: block;
    padding: 10px;
    color: #000;
    background-color: rgba(255, 201, 0, .4);
}

.link-button input {
    display: none;
    visibility: hidden;
}

.more-fields {
    padding: 10px;
    border-top: 1px solid #11c1f3;
}

.more-fields h3 {
    font-size: 15px;
    margin: 10px 0 15px;
}

.new-car-icon {
    color: #0c60ee !important;
}
.alert-view{
	width:100%;
	height:100%;
	border: solid 0px #111;
	text-align:center;
}
.alert-view img{
	width:100%;	
	
}
